/game/x64/
/game/resources/mods/
/game/resources/temp/
/game/config.txt
/game/keys.txt
/game/user_details.txt
/temp
/uploader/x64/
/x64/
*.db
game.VC.db
/.vs/
/uploader/.vs/
*.opendb
server/opendb.php