/game/x64/
/game/resources/temp/
/game/config.txt
/game/keys.txt
/game/user_details.txt
/game/stdout.txt
/game/stdout_to_send.txt
/game/uploader_stdout.txt
/temp
/uploader/x64/
/x64/
*.db
game.VC.db
/.vs/
/uploader/.vs/
/server/opendb.php
/server/hasher.php
*.opendb
bloodworks_workshop/.vs/
bloodworks_workshop/bloodworks_workshop/Debug/
bloodworks_workshop/bloodworks_workshop/x64/
bloodworks_workshop/x64/Debug/
bloodworks_workshop/x64/