/game/x64/
/game/resources/temp/
/game/config.txt
/game/keys.txt
/game/user_details.txt
/game/stdout.txt
/game/stdout_to_send.txt
/game/uploader_stdout.txt
/temp
/uploader/x64/
/x64/
*.db
game.VC.db
/.vs/
/uploader/.vs/
*.opendb
server/opendb.php
server/hasher.php